body{
    margin: 0px;
    padding: 0px;
}


 .cc1{
    background-color: #61cece;
    height: 10px;
}

.cc2{
    background-color: #088fcb;
    height: 10px;
}

.cc3{
    background-color: #61cece;
    height: 10px;
    padding-right: 52px;
}

 .conest{
 background-color:  #61cece;
    margin-right: 1px;
    height: 50px;
    text-align: center;
    padding: 10px;
    color: aliceblue;
    
}

.conest h6{
    color: white;
    animation: blink 1s infinite;
}

.conest a:hover{
    text-decoration: none;   
}

.on-col a:hover{
     text-decoration: none; 
    color: black;
}



    
}

@keyframes blink {
    0%{opacity: 2.0}
    
    50%{opacity: 0.0}
    
    10%{opacity: 2.0}
}


.end{
    margin-top: -4.7px;
}

@media screen and (min-width:768px){
    .navbar-nav .dropdown-menu{
    margin-right: inherit;
}

}
.fas, .fab{
    color: #00c4ff;
    font-size: 20px;
}


.wells img{
    margin-left: 13px;
    height: 38px;
    max-width: 58px;
    background-image: url(wells.png);
}

.on-col p, .on-col h6 {
    margin: 1px;
    text-align: center;
  font-family: serif;
}
.on-col a{
    color: black;
}



.cont-one img{
       width: 23%;
    margin-left: 39%;
    margin-bottom: 20px;
    }




.on-col{
    padding-left: 70%;
}



.cont-head{
    width: 100%;
    height: 400px;
    background-image:url(../images/den14.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
}









.card{
    background-color: #ff0b1e;
    margin: 4px;
    height: 300px;
    border-radius: 9px;
    box-shadow: 14px 14px 88px -17px rgba(135, 208, 217, 0.73);

}

.color{
    color: floralwhite;
    border-radius: 70px;
    background: linear-gradient(to right, #32b9ec 0%, #37d6c0 91%, #32b9ec 100%) no-repeat;
}



.text-lef{
    width: 120px;
    height: 2px;
    margin-left: 0px;
    background: #0fb1f8;
    border: none;
}

.text-lef2{
    width: 120px;
    height: 2px;
    margin-left: 0px;
    background: #0fb1f8;
    border: none;
}


.ady{
    width: 50%;
    
}

.line-services{
    margin-bottom: 10px;
    position: absolute;
    left: 47%;
    width: 6%;
    height: 2.3px;
    background: linear-gradient(to right, #32b9ec 0%, #37d6c0 51%, #32b9ec 10%) no-repeat;
}

.text-subline{
    
     position: relative;
    height: 1px;
    padding: 0;
    background: #e5e5e5;
    margin-bottom: 22px;
    border: none;
  
}


.text-subline:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 1.6px;
    width: 70px;
    background: #32b9ec;
}


.path{
    background-color: aqua;
 
    
}






.counting-section{
    margin-top: 10px;
    margin-bottom: 90px;
   padding: 70px 0;
    width: 100%;
    background-image:url(../images/tooth8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
background-attachment: fixed;
    
}


.inner-width{
    max-width: 80%;
    margin: auto;
    display: flex;
}

.cols{
    max-width: 20%;
    height: auto;
    flex: 1;
    text-align: center;
    padding: 11px;
    color: #5d5d5d;
    text-transform: uppercase;
}

.cols` i{
    font-size: 34px;
    margin-left: 10px;
    padding-bottom: 7px;
    color: #5d5d5d;
}

.num{
    font-weight: 500;
    font-size: 22px;
    padding: 6px;
}




paralax{
    clip-path: polygon(0 16%, 100% 0, 100% 100%, 1% 300%);
    background-image: url(../images/den1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.paralax1{
    padding-top: 70px;
    clip-path: polygon(0 16%, 100% 0, 100% 100%, 0% 100%);
     background-color: rgba(0, 67, 75, 0.73);
}

.paralax2{
        background-attachment: fixed;
    background-image: url(../images/tooth7.jpg);
background-size:cover;
    height: 300px;
    padding-top: 50px;
    color: white;
    margin-bottom: 50px;
}

.footer{
 background: linear-gradient(to right, #32b9ec 0%, #37d6c0 51%, #32b9ec 100%) no-repeat;
    margin: 20px 0 20px 0;
    color: aliceblue;
    text-align:center;
    padding: 22px;
}

.time p{
    margin-bottom:inherit;
    
}




@media screen and (max-width:576px){
    .counting-section{
        display: none;
     
    }
} 