body{
    margin: 0px;
    padding: 0px;
    
}


.cc1{
    background-color: #61cece;
    height: 10px;
}

.cc2{
    background-color: #088fcb;
    height: 10px;
}

.cc3{
    background-color: #61cece;
    height: 10px;
    padding-right: 52px;
}

 .conest{
 background-color:  #61cece;
    margin-right: 1px;
    height: 50px;
    text-align: center;
    padding: 10px;
    color: aliceblue;
    
}

.conest h6{
    color: white;
    animation: blink 1s infinite;
}

.conest a:hover{
    text-decoration: none;   
}

    
}

@keyframes blink {
    0%{opacity: 2.0}
    
    50%{opacity: 0.0}
    
    10%{opacity: 2.0}
}


.end{
    margin-top: -4.7px;
}

@media screen and (min-width:768px){
    .navbar-nav .dropdown-menu{
    margin-right: inherit;
}

}
.fas, .fab{
    color: #00c4ff;
    font-size: 20px;
}

.wells img{
    margin-left: 13px;
    height: 38px;
    max-width: 58px;
    background-image: url(../images/wells.png);
}

.on-col p, .on-col h6 {
    margin: 1px;
    text-align: center;
  font-family: serif;
}
.on-col a{
    color: black;
}
.on-col a:hover{
     text-decoration: none; 
    color: black;
}






.cont-one img{
       width: 23%;
    margin-left: 39%;
    margin-bottom: 20px
    
}


.fas{
    color: #00c4ff;
    font-size: 20px;
}

.on-col{
    padding-left: 70%;
}

.main{
    margin-top: 40px
}
.front-head{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    flex-wrap: wrap;
    
}


.front-head-dent {
       box-sizing: border-box;
    background: url(../images/PREVENTATIVE1.jpg) no-repeat ;
    background-size: cover;
    max-width: 85%;
    margin-left:40px;
    height: 483px;
}

.front-head-dent-den {
    font-family: serif;
    box-sizing: border-box;
    width: 46%;
    height: 322px;
    background-color: white;
    position: absolute;
    top: 12%;
    left: 54%;
    padding-left: 60px;
    opacity: 0.7;}


.front-head-dent-den h2 {
     font-family: serif;
    font-size: 29px;
    font-weight: 200;
    margin-top: 50px;
    color: #5d5d5d;
}

.front-head-dent-den h1{
    font-family: serif;
padding-right: 29px;
    font-size: 24px;
     color: #5d5d5d;
    animation-delay: 0.5s;
    font-weight: 600;
    margin: 13px 0 13px;
    
    
}
.word2{
    animation-delay: 1s;
}
.front-head-dent-den p{
      font-family: serif;
    line-height: 24px;
    padding-right: 62px;
    color: #000000;
    animation-delay: 1.6s;
   text-align: justify;
}


.line-one{
    border: 1px solid  #5d5d5d;
    width: auto;
    animation-duration: 1s;
    animation-delay: 1s;
}


.word1{
    animation-delay: 0.4s;
}

.word2{
    animation-delay: 0.8s;
}

.word3{
    animation-delay: 2s;
    text-align:justify;
}

.vert-line{
     height: 60px;
    width: 3px;
    background-color: black;
    margin-top: 30px;
    margin-left: 100%;
    margin-bottom: 10px;
    
}


.text-subline{
    
     position: relative;
    height: 2px;
    padding: 0;
    background: #e5e5e5;
    margin-bottom: 2px;
    border: none;
  
}


.text-subline:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: 50%;
    background: #32b9ec;
}

 .text-line{
     font-size: 18px;
     font-family: serif;
    text-align: justify;
    width: 70%;
}

.text-line h3{
    text-align: center;
    margin: 20px
}




.inside1{
    margin-top: 50px;
    text-align: justify;
font-family: serif;
    font-size: 19px;
}




.inside1-ins{
     padding-top: 130px;
    text-align: justify;
font-family: serif;
    font-size: 19px;
}

.con{
      text-align: justify;
font-family: serif;
    font-size: 19px;
    background-color: red;
    text-align: center;
}

.con h1{
    text-align: center;
    color: white;
}

.container h3{
    font-size: 22px;
    font-weight: 10;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}



.hid1, .hid2, .hid3, .hid4{
   
  opacity: 0;
  
}

.ssow{
     opacity: 2;
     transition-duration: 3.5s;
}

.imag2{
    margin-top: 50px;
    width: 88%;
}

.extraction .imag3{
    margin-top: 80px;
    width: 88%;
    border-radius: 50%;
}

.imag5{
    margin-top: 10%;
}

.imag4{
    width: 80%;
}

.cl3{
    
    margin-top: 60px;
}

.cl5{
    margin-top: 10px;
}

.dropdown-submenu:after{
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

 .inside1 .container {
    width: 100%;
    padding-right: 5px;
     padding-left: 0px; 
    margin-right: auto;
    margin-left: auto;
}




.footer {
 background: linear-gradient(to right, #32b9ec 0%, #37d6c0 51%, #32b9ec 100%) no-repeat;
    margin: 20px 0 20px 0;
    color: aliceblue;
    text-align:center;
    padding: 70px;
      text-align: justify;
font-family: serif;
    font-size: 19px;
}


@media  only screen and (min-width: 576px){
    
    .vert-line{
        margin-top: 20px;
    }
    
     .row-line{
        margin-top: -30px;
    }
    
    .con{
        margin-top: 40px;
    }
    
    .imag3{
        margin-top: 10px;
    }
    
    .cl3 .cl5{
        margin-top: 4px;
    }
    
    .front-head-dent-den p{
        padding-right: 0px;
        margin-top: 16px;
    }
    .inside1 {
    text-align: justify;
}
}



@media  only screen and (max-width: 457px){
    
    .vert-line{
        margin-top: -31px;
    }
    
    .cl3{
        margin-top: 1px;
    }
    
    .imag2, .extraction .imag3, .imag5{
        margin-top: 5px;
    }
    
    h5{
        text-align: center;
    }
    
    .front-head-dent{
        margin-left: inherit;
        height: 145px;
    }
    
    .inside1{
        margin-top: 22px;
    }
    .cont-one img{
        width: 56%;
        margin-left: inherit;
    }
}






@media screen and (max-width: 768px) {
    
    
        .front-head-dent-den {
    box-sizing: border-box;
    width: 30%;
    height: 300px;
    background-color: white;
    position: absolute;
    top: 75%;
    left: 50%;
    padding-left: 80px;
    opacity: 0.7;
    position: absolute;
    display: contents;
}
    .front-head-dent {
    box-sizing: border-box;
    background: url(../images/PREVENTATIVE1.jpg) no-repeat 6%;
    background-size: cover;
    max-width: 100%;
    height: 289px;
}
    
    .word, .word2{
        text-align: center;
        
    }
    
    .line-one{
        height: 1px;
        width: 100%;
        border: 1.5px solid #5d5d5d;
    }
    
   
    
    .left-image {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .modal-content{
       max-width: 44%;
        height: 190px;
        margin-top: 50%;

    }
    
}









